<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            ir a login
        </a>
    </li>
    <li>
        <a routerLink="/auth/register">
            ir a registro
        </a>

    </li>
    <li>
        <a routerLink="/fridens/listado">
            ir a listado friden
        </a>
    </li>
    <li>
        <a routerLink="/fridens/agregar">
            ir a agregar friden
        </a>
    </li>
    <li>
        <a routerLink="/fridens/editar/:id">
            ir a editar friden
        </a>
    </li>
    <li>
        <a routerLink="/fridens/buscar">
            ir a buscar friden
        </a>
    </li>
    <li>
        <a routerLink="/fridens/:id">
            ver friden
        </a>
    </li>

</ul>