<mat-card>
    <mat-card-header>
        <mat-card-title>{{friden.superhero}}</mat-card-title>
        <mat-card-subtitle>{{friden.alter_ego}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="assets/fridens/{{friden.id}}.jpg"> -->
    <img mat-card-image [src]="friden | imagen">
    <mat-card-content>
        <h3>{{friden.publisher}}</h3>
        <p>
            <strong>Primera aparición</strong> {{friden.first_appearance}}<br>
            <br>
            <strong>Personajes:</strong> {{friden.characters}}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button 
        mat-button 
        color="warn"
        [routerLink]="['/fridens', friden.id]">
            Leer mas...
        </button>

        <button 
        mat-button 
        color="info"
        [routerLink]="['/fridens/editar', friden.id]">
            Editar
        </button>
    </mat-card-actions>
</mat-card>
