<mat-card>
    <mat-card-header>
        <mat-card-title>{{friden.friden_nombre}}</mat-card-title>
        <mat-card-subtitle>{{friden.nombre}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="assets/fridens/{{friden.id}}.jpg"> -->
    <img mat-card-image [src]="friden | imagen">
    <mat-card-content>
        <h3>{{friden.titulo}}</h3>
        <p>
            <strong>Primera aparición</strong> {{friden.primera_aparicion}}<br>
            <br>
            <strong>Colores:</strong> {{friden.colores}}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button 
        mat-button 
        color="warn"
        [routerLink]="['/fridens', friden.id]">
            Leer mas...
        </button>

        <button 
        mat-button 
        color="info"
        [routerLink]="['/fridens/editar', friden.id]">
            Editar
        </button>
    </mat-card-actions>
</mat-card>
